:root {
    --black: #020202;
    --tiffany: #93E1D8;
    --lavender: #FEC9F1;
    --dimgray: #746F72;
    --maize: #FFED65;
}

body {
    background: var(--tiffany);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    width: 100%;
    color: var(--black);
    margin-top: 30px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    font-size: 2.5rem;
}


.flex-container {
    display: flex;
    flex-direction: row;      
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    padding: 20px;
}


.team-member-card {
    width: 260px;
    padding: 15px;
    text-align: center;
    background-color: var(--lavender);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: none;        
}


.team-member-card:hover {
    transform: none;
    box-shadow: none;
    background-color: white;
}


.team-member-card img {
    width: 100%;
    border-radius: 15px;
    border: 4px solid var(--maize);
    height: auto;
}


.team-member-card p {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    color: var(--dimgray);
}

img {
    border-radius: 25px;
    height: 60px;
    width: 60px;
}

