:root {
    --black: #020202;
    --tiffany: #93E1D8;
    --lavender: #FEC9F1;
    --dimgray: #746F72;
    --maize: #FFED65;
}

body {
    background: var(--tiffany);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
  background: var(--black);
  color: var(--tiffany);
  padding: 1em 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

nav a {
  color: var(--tiffany);
  text-decoration: none;
  font-weight: bold;
  transition: color .3s ease;
}

nav a:hover {
  color: var(--maize);
}

h1 {
    text-align: center;
    width: 100%;
    color: var(--black);
    margin-top: 70px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    font-size: 2.5rem;
}


.flex-container {
    display: flex;
    flex-direction: row;      
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    padding: 20px;
}


.team-member-card {
    width: 260px;
    padding: 15px;
    text-align: center;
    background-color: var(--lavender);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: none;        
}


.team-member-card:hover {
    transform: none;
    box-shadow: none;
    background-color: white;
}


.team-member-card img {
    width: 100%;
    border-radius: 15px;
    border: 4px solid var(--maize);
    height: auto;
}


.team-member-card p {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    color: var(--dimgray);
}

img {
    border-radius: 25px;
    height: 60px;
    width: 60px;
}

footer {
    background: var(--dimgray);
    color: var(--white);
    text-align: center;
    padding: 20px 10px;
    font-weight: bold;
    box-shadow: 0 -4px 20px rgba(0,0,0,0.3);
}


footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

footer a:hover {
    color: var(--maize);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: var(--black);
    width: 100%;
    padding: 1rem 0;
    top: 60px;
    left: 0;
    position: absolute;
  }

  .menu-toggle:checked + .hamburger + nav ul {
    display: flex;
  }

  nav ul li {
    margin: 1rem 0;
  }
}