:root {
    --black: #020202;
    --tiffany: #93E1D8;
    --lavender: #FEC9F1;
    --dimgray: #746F72;
    --maize: #FFED65;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tiffany);
    padding: 20px;
    text-align: center;
}

h1 {
    color: var(--black);
    margin-bottom: 30px;
    font-size: 2.5rem;
}


.menu-table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 25px;
}

.menu-table td {
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}


.menu-table img {
    width: 150px;
    height: auto;
    border-radius: 15px;
}